<div class="panel-primary">
	<div class="panel-body">
		<p>口座情報を変更する場合は下のボタンをクリック</p>
		<p>再度stripeに接続して新しい口座情報を登録してください</p>
		<%= link_to "口座情報を変更する", stripe_deauthorize_path, class: "btn btn-danger" %>
	</div>
</div>